/******************************************
Resets*************************************
******************************************/
.centered {
  margin: 0 auto; }

body {
  margin: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/mobile_background.png");
  background-size: 100vw; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

#root {
  width: 100vw; }

/******************************************
Header*************************************
******************************************/
.active {
  color: green; }

.mdl-layout__tab-bar, .mdl-layout__tab {
  height: 40px; }

header {
  width: 100%;
  height: 10vh;
  margin-bottom: 25px; }
  header nav {
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center; }
    header nav .checkout {
      color: #ff9900; }
    header nav .large {
      font-size: 40px; }
    header nav a {
      font-size: 60px;
      text-decoration: none;
      color: white;
      padding: 10px 20px; }
      header nav a:hover {
        background-color: rgba(0, 0, 0, 0.5);
        transition: .1s, ease-in; }
    header nav ul {
      display: flex;
      flex-direction: row;
      padding: 0;
      width: 100vw;
      justify-content: center; }
      header nav ul li {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center; }

/******************************************
CTA****************************************
******************************************/
#Home {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-bottom: 0vh;
  text-align: center;
  align-items: center;
  height: 90vh;
  width: 100vw; }
  #Home .HeroText {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #Home .HeroText h4 {
      width: 30%;
      font-size: 30px;
      margin: 0 30px;
      margin-top: -20px;
      margin-bottom: 40px; }
  #Home .logo {
    width: 200px;
    height: 200px;
    margin: 0 auto; }
  #Home #HomeHero {
    width: 100%;
    font-size: 8vw;
    height: 10vh;
    text-align: center;
    margin-top: 20vh; }
  #Home .copyright {
    color: lightgrey; }
  #Home .HeroBottomText {
    margin-top: 10px; }
  #Home #CtaCallToAction {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 50vh; }
    #Home #CtaCallToAction h2 {
      font-size: 5vw;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 10%; }
    #Home #CtaCallToAction #CtasubText {
      text-align: center;
      margin-top: 9%;
      font-size: 6vw;
      width: 100%; }

.TemplateButton {
  background-color: #fa6d36;
  padding: 30px;
  color: white;
  text-align: center;
  margin-bottom: 9vh; }

.displayNo {
  display: none; }

.displayYes {
  display: display; }

/******************************************
PORTFOLIO**********************************
******************************************/
.ForSale {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  text-align: center; }
  .ForSale .ForSaleHeroHeader {
    width: 100%;
    margin: 20px 0; }
  .ForSale .Products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 20px auto; }
    .ForSale .Products button {
      width: 60vw; }
    .ForSale .Products .product {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border: 1px solid black;
      width: 95%;
      background-color: rgba(0, 0, 0, 0.4);
      min-height: 170px;
      margin-top: 20px; }
      .ForSale .Products .product .productName {
        width: 100%;
        margin-bottom: 10px; }
      .ForSale .Products .product .productDescription {
        width: 50%;
        padding-top: 60px; }
      .ForSale .Products .product .productPrice {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
        color: white;
        width: 100%; }
      .ForSale .Products .product .addToCart {
        height: 50px;
        width: 100%;
        background-color: white;
        color: black; }
      .ForSale .Products .product .productImage {
        width: 150px;
        height: 150px;
        display: block;
        margin: 0 auto;
        padding: 10px; }

/******************************************
Cart Page*******************************
******************************************/
.Checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .Checkout .checkoutButton {
    margin-top: 30px;
    background-color: orange;
    width: 90%; }
  .Checkout .ProductsInCart {
    margin-top: 100px;
    border: 1px solid red; }

/******************************************
Contact Page*******************************
******************************************/
#contact {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  text-align: center; }

.wrapper {
  margin-top: 30vh; }

/*# sourceMappingURL=index.css.map */
